<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	<context:annotation-config />

	<tx:annotation-driven transaction-manager="txManager_pporan"/>

	<!-- 외부 설정 파일 위치 -->
	<context:property-placeholder location="classpath:conf/db.properties" />
	<bean id="dataSource_pporan" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<!-- 
		 -->
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}" />
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
		<property name="minPoolSize" value="${jdbc.minPoolSize}" />
		<property name="acquireIncrement" value="${jdbc.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}" />
		<property name="autoCommitOnClose" value="${jdbc.autoCommitOnClose}" />
		
		<property name="checkoutTimeout" value="20000"/>
		<property name="maxIdleTime" value="10000"/>
   		<property name="idleConnectionTestPeriod" value="60" />
		<property name="preferredTestQuery" value="SELECT 'Connection' = 'true'" />
		<property name="testConnectionOnCheckin" value="true"/>
   		<property name="testConnectionOnCheckout" value="true" />
	</bean>
	<bean id="txManager_pporan" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_pporan"></property>
	</bean>
	<bean id="sqlMapClient_pporan" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/sql-map-config.xml" />
		<property name="mapperLocations" value="classpath:mybatis/sqlmaps/*.xml" />
		<property name="dataSource" ref="dataSource_pporan" />
	</bean>
	<bean id="mssqlCommonDao" class="pporan.maven.framework.db.SqlMapCommonDao">
		<property name="sqlSessionFactory" ref="sqlMapClient_pporan"/>
	</bean>
		

	<!-- ############### Bean 설정값들을 선언하는 곳 ############## -->
	<!-- DB 설정
	 -->
	<bean id="databaseHandler" class="pporan.maven.framework.db.DatabaseHandler" autowire="byName" />
	<!-- 파일 업로드 설정 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="419430400" />
	</bean>

	<!-- 
	<bean id="commonService"			class="com.pporan.project.impl.CommonServiceImpl" />
	 -->
	<!-- ############### //Bean 설정값들을 선언하는 곳 ############## -->
	
</beans>	